@model PagedList.IPagedList<VideoShop.Models.Customer>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<div class="row">
    <p>
        @Html.ActionLink("New Customer","New","Customers", new {@class="btn btn-primary"})
    </p>
</div>
<div class="row">
    <table id="customers" class="table table-bordered table-hover table-responsive">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Discount Rate</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
@section scripts 
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#customers").DataTable({
                ajax: {
                    url: "api/customers/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name", 
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>",
                        }
                    },
                    {
                        data: "MembershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>",
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        })
                    }

                })

            });
        });
    </script>
}